{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<div class="container pt-4">
  <h2 class="mb-4">Resultados de búsqueda</h2>

  <form method="GET" action="{% url 'filtro' %}" class="mb-4">
    <div class="input-group">
      <input type="text" name="q" placeholder="Buscar producto por nombre" class="form-control" aria-label="Buscar producto">
      <button type="submit" class="btn btn-primary">Buscar por nombre</button>
    </div>
  </form>

  <div>
        <form method="GET" action="{% url 'filtro' %}" class="mb-3 row">
            <div class="input-group-sm col-sm-6">
                <select name="marca" class="form-select">
                    <option value="">Seleccione marca</option>
                    {% for marca in marcas %}
                    <option value="{{ marca.id }}">{{ marca.nomb_marca }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-secondary">Buscar por Marca</button>
            </div>
            <div class="col-sm-6 d-flex">
                <div class="col-sm-6 ">
                  <input type="number" name="min_precio" placeholder="Precio mínimo" class="form-control" aria-label="Precio mínimo">
                  <button type="submit" class="btn btn-sm btn-warning">Buscar por Precio</button>
                </div>
                <div class="col-sm-6 ms-2">
                  <input type="number" name="max_precio" placeholder="Precio máximo" class="form-control" aria-label="Precio máximo">
                </div>
            
              </div>
        </form>
   </div>

  <ul class="list-unstyled">
    {% for producto in productos %}
    <div class="d-flex row bg-dark text-white p-3 rounded my-2">
      <div class="col-sm-4 my-1">
        <a href="{% url 'detalle_producto' producto.id %}">
          <img src="{{ producto.imagen1.url }}" class="img-fluid" alt="{{ producto.nombre }}">
        </a>
      </div>
      <div class="col-sm-4">
        <div class="my-2">
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.marca.nomb_marca }}</p>
        </div>
      </div>
      <div class="col-sm-4 d-flex justify-content-end align-items-center">
        <h2>${{ producto.precio }}</h2>
        <a class="btn btn-primary ms-3" role="button" href="{% url 'detalle_producto' producto.id %}">Detalles</a>
      </div>
    </div>
    {% empty %}
      <li>No se encontraron productos</li>
    {% endfor %}
  </ul>
</div>

{% endblock contenido %}
